@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
}

#return-top {
  background-color: #011640;
  border-radius: 50%;
  text-decoration: none;
  bottom: 10px;
  color: #fff;
  font-size: 10px;
  height: 50px;
  line-height: 50px;
  outline: 0;
  position: fixed;
  right: 10px;
  text-align: center;
  width: 50px;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  z-index: 100;
}

#return-top:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#buy {
  background-color: #D98E32;
  text-decoration: none;
  border-radius: 5px;
  bottom: 10px;
  color: #fff;
  font-size: 10px;
  height: 50px;
  line-height: 50px;
  outline: 0;
  position: fixed;
  right: 70px;
  text-align: center;
  width: 70px;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  z-index: 100;
}

#buy:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header {
  background-color: #011640;
  margin-bottom: 10px;
}

header .header-img {
  text-align: center;
}

header .header-img img {
  padding-top: 7px;
  width: 15%;
}

.mainWrapper {
  overflow: hidden;
}

.swiper-slide .item-img {
  text-align: center;
}

.swiper-slide .item-img img {
  width: 90%;
}

.item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  margin: 10px;
  margin-bottom: 50px;
}

.item-text p {
  text-align: left;
  color: #595959;
}

.swiper-button-next, .swiper-button-prev {
  display: none;
  /*ナビゲーションはPCのみ表示*/
}

.about {
  padding-bottom: 100px;
}

.about .about-text {
  display: block;
  margin: 10px;
  color: #595959;
}

.about .about-text .kamata-com a {
  color: black;
  text-decoration: none;
}

.about .about-text h3 {
  color: black;
  font-size: 34px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.about img {
  width: 95%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-shadow: 15px 15px 0px 0 #e6e6e6;
          box-shadow: 15px 15px 0px 0 #e6e6e6;
}

.about img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  /*画像の拡大率*/
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  /*変化に掛かる時間*/
}

.article-top {
  font-size: 22px;
  font-weight: 100;
  background-color: #011640;
  -webkit-box-shadow: 10px 10px 0px 0 #e6e6e6;
          box-shadow: 10px 10px 0px 0 #e6e6e6;
  border-radius: 2px;
  color: white;
  margin: auto;
  width: 24%;
  opacity: 0.7;
}

.article-top p {
  text-align: center;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article a {
  text-decoration: none;
}

.article h3 {
  margin-left: 10px;
}

.article img {
  width: 100%;
  -webkit-box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  opacity: 1;
}

.article img:hover {
  opacity: 0.6;
}

.article .article-contents1 {
  margin-bottom: 30px;
}

.article .article-contents2 {
  margin-bottom: 30px;
}

.article .article-contents3 {
  margin-bottom: 30px;
}

.article p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  color: #595959;
}

footer {
  background-color: #011640;
  padding-bottom: 50px;
}

footer p {
  padding: 20px;
}

footer .footer-wrapper {
  color: #c2c2c2;
  font-size: 12px;
  margin: auto;
  text-align: center;
}

footer .footer-img img {
  margin-top: 15px;
  width: 15%;
}

footer ul {
  list-style: none;
}

footer ul li {
  font-weight: 300;
  margin-top: 20px;
  cursor: pointer;
}

footer ul li:hover {
  color: white;
}

footer .border {
  border-bottom: 1px solid;
  width: 70%;
  margin: auto;
  margin-bottom: 10px;
}

footer .sns {
  font-size: 28px;
}

footer .sns .fab {
  color: white;
  padding: 10px;
}

footer .fa-instagram:hover {
  opacity: 0.7;
}

footer .fa-twitter:hover {
  opacity: 0.7;
}

@media screen and (min-width: 1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  #return-top {
    bottom: 50px;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    right: 50px;
    width: 60px;
  }
  #buy {
    bottom: 50px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    right: 130px;
    width: 100px;
  }
  .mainWrapper {
    width: 70%;
    margin: auto;
  }
  header .header-img img {
    padding-top: 5px;
    width: 5%;
  }
  .swiper-slide .item-img img {
    width: 40%;
  }
  .item-text {
    font-size: 16px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 150px;
  }
  .swiper-button-next, .swiper-button-prev {
    display: block;
    /*ナビゲーションはPCのみ表示*/
  }
  .swiper-button-next {
    margin-right: 100px;
  }
  .swiper-button-prev {
    margin-left: 100px;
  }
  .footer-wrapper {
    width: 70%;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .about .about-text {
    display: block;
  }
  .about .about-text h3 {
    font-size: 34px;
    margin-bottom: 10px;
  }
  .about img {
    width: 90%;
  }
  .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article img {
    width: 100%;
  }
  .article .article-contents1 {
    width: 50%;
    margin-left: auto;
  }
  .article .article-contents2 {
    width: 50%;
  }
  .article .article-contents3 {
    width: 50%;
    margin-left: auto;
  }
  .footer-img img {
    width: 7% !important;
  }
}
/*# sourceMappingURL=stylesheet.css.map */